@font-face {
  font-family: "El Messiri";
  src: url("../fonts/ElMessiri-VariableFont_wght.ttf");
}
body {
    background: #76ae61;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "El Messiri";
    overflow-x: hidden;
    user-select: none;
}

h1 {
    text-align: center;
    text-shadow: #000 1px 1px 2px;
    color: #ccf7ff;
    font-size: 50px;
    user-select: none;
}

#games {
    margin: auto;
    display: none;
    cursor: none;
    height: 100%;
    width: auto;
}

#background {
    display: flex;
    position: fixed;
    top: 0;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#start {
    display: block;
    background: #0000004f;
    backdrop-filter: blur(30px);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

#top-panel {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background: #0000004f;
    backdrop-filter: blur(5px);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
}

#top-panel div {
    display: inherit;
}

#top-panel div p {
    padding: 5px 20px;
    margin: 0;
}

#indicator-distance {
    min-width: 300px;
}

#top-panel div .button {
    background: #0000008a;
    cursor: pointer;
    transition: all 1s;
}

#top-panel div .button:hover {
    background: #5d5d5d8a;
}

#end-game {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    z-index: 9;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#end-game p {
    color: #fff;
    font-size: 24px;
}

/* Медіазапит для маленьких екранів, наприклад, телефонів */
@media (max-width: 900px) { 
    #top-panel div p {
        /* Змініть відступи для кнопок на мобільних екранах */
        padding: 0 10px;
        margin: 0;
        font-size: 10px;
    }
}


@media (max-width: 767px) {
    body {
    /* Стилі, що застосовуються тільки на екранах ширше 767px */
    background-color: #f5f5f5; /* Змініть колір фону для мобільних екранів */
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    #games {
    /* Змініть розмір canvas на мобільних екранах */
    width: 100%;
    height: auto;
    }

    /* Інші стилі для мобільних пристроїв */
    h1 {
    font-size: 24px;
    }

    #top-panel {
    /* Змініть розмір шрифту для панелі індикаторів на мобільних екранах */
    font-size: 10px;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(0px);
    }

    #top-panel div p {
        /* Змініть відступи для кнопок на мобільних екранах */
        padding: 0 10px;
        margin: 0;
        font-size: 10px;
    }

    #top-panel div p.button {
    /* Змініть відступи для кнопок на мобільних екранах */
    padding: 5px 10px;
    margin: 0;
    font-size: 7px;
    }
    #games.fullscreen {
      width: 100vw; /* Розмір в ширину на 100% видимої області екрану */
      height: 100vh; /* Розмір висоти на 100% видимої області екрану */
    }
    #indicator-distance {
        min-width: auto;
        max-width: 110%;
    }

    #screen-size {
      display: none;
    }
  
}
